<h1>Chat</h1>
<hr>
<div class="row">
    <div class="col-sm-9">
        <input [(ngModel)]="myMsg" class="form-control" />
    </div>
    <div class="col-sm-3">
        <button class="btn btn-primary pull-left" (click)="sendMsg()" (keydown)="checkEnterKey($event)" >Send</button>
    </div>
</div>
<hr>
<div>
    <div class="row msg-sec" *ngFor="let msg of msgs;" >
        <div>
            <i class="fa fa-caret-right" ></i>
            <span>{{msg.Text}}</span>
        </div>
        <div>{{msg.DateTime}}</div>
    </div>
</div>
